* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins";
}
:root {
  --primary-color: #0f1b4c;
}
/* Common */
a {
  text-decoration: none;
}
.content {
  width: 1100px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

.btn {
  min-width: 98px;
  background-color: var(--primary-color);
  border-radius: 0.8rem;
  padding: 10px 24px;
  color: white;
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2.1rem;
  display: inline-block;
}
.btn:hover {
  opacity: 0.9;
}
/* Header */
.header {
  height: 100vh;
  background-color: #e6f0ff;
}
.header .content {
  padding-top: 2.8rem;
}
.header .nav {
  display: flex;
  align-items: center;
}
.header .nav ul {
  margin-left: 6.4rem;
  margin-right: auto;

  display: flex;
  justify-content: space-between;
  gap: 2.8rem;
}
.header .nav ul a {
  color: #4f5361;
}
.header .nav ul a:hover {
  text-decoration: underline;
}
.header .nav a {
  text-decoration: none;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2.1rem;
}
.header .nav .actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.8rem;
}
.header .nav .action-link {
  color: var(--primary-color);
}
.header .nav .action-btn {
}
