* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Poppins";
}
:root {
  --primary-color: #0f1b4c;
}
/* Common */
a {
  text-decoration: none;
}
.content {
  width: 1100px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

.btn {
  min-width: 98px;
  background-color: var(--primary-color);
  border-radius: 0.8rem;
  padding: 10px 24px;
  color: white;
  font-style: normal;
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2.1rem;
  display: inline-block;
}
.btn:hover {
  opacity: 0.9;
}
/* Main */
main {
  height: 2000px;
}
/* Header */
.header {
  height: 100vh;
  background-color: #e6f0ff;
  position: relative;
}

.header .nav {
  display: flex;
  align-items: center;
  padding-top: 38px;
}
.header .nav ul {
  margin-left: 50px;
  margin-right: auto;

  display: flex;
  justify-content: space-between;
}

.header .nav ul a {
  color: #4f5361;
  padding: 8px 14px;
  /* Padding in tag inline block  */
}
.header .nav ul a:hover {
  text-decoration: underline;
}
.header .nav a {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 2.1rem;
}
.header .nav .actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.8rem;
}
.header .nav .action-link {
  color: var(--primary-color);
}
.hero {
  margin-top: 130px;
}
.hero .info {
  width: 51%;
}
.hero .sub-title {
  font-style: normal;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: 0.01em;
}

.hero .title {
  font-style: normal;
  font-weight: 700;
  font-size: 6.2rem;
  line-height: 1.19;
  margin-top: 8px;
  margin-bottom: 30px;
}
.hero .desc {
  font-style: normal;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.78;
}
.hero-cta {
  margin-top: 40px;
  padding: 15px 37px;
  min-width: 170px;
}
.hero-img {
  position: absolute;
  right: calc((100vw - 1100px) / 2 - 100px);
  bottom: 0;
}
